@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');


:root {
    --primary-color: #FF5E61;
    --white-color: #fff;
    --black-color: #000;
    --text-color-dark: #333333;
    --text-color-light: #F2F2F2;
    --border-color: #DBDBDB;
    --background-color-1: #E3FDF5;
    --background-color-2: #FFE6FA;
    --background-main-color: #f7f7f7;
    --footer-bg-color: #ffe4e4;
    --input-bg-color: ##fffbfd;
    --icon-color: #606060;
    --header-color: #fff;
    
}

body.dark {
  --white-color: #000;
  --black-color: #fff;
  --text-color-dark: #F2F2F2;
  --text-color-light: #333333;
  --background-color-1: #013155;
  --background-color-2: #01162E;
  --background-main-color: #282c36;
  --footer-bg-color: #1e242e;
  --input-bg-color: #29303a;
  --icon-color: #F2F2F2;
  --header-color: #343944;
  

}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}


* {
    box-sizing: inherit;
    font-size: 100%; /* 16px */
    line-height: 1.25rem;  /* 20px */
    font-family: 'Poppins', sans-serif;
}

html {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    overflow-y: scroll;
}




li, ul, ol {
    list-style-type: none;
}

a {
    text-decoration: none;
}
.text--uppercase {
    text-transform: uppercase;
}


.reveal {
    position: relative;
    transform: translateY(100px);
    opacity: 0;
    transition: all 2s ease;
}

.reveal.active {
    transform: translateY(0px);
    opacity: 1;
}


/** Toggle */
.day-night {
  position: fixed;
  top: 22px;
  left: 32px;
  z-index: 5;
}

.toggle {
  opacity: 0;
  z-index: 1;
  position: absolute;
  width: 22px;
  height: 22px;
  top: -3px;
  left: -9px;
  cursor: pointer;

}

.toggle ~ .toggle-label {
	background-color: #fff8e9;
	border-radius: 50px;
	/* cursor: pointer; */
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
	position: relative;
	height: 20px;
  width: 40px;
	transform: scale(1.5);
}

.toggle ~ .toggle-label .toggle-ball {
	background-color: #ffa36e;
	border-radius: 50%;
	position: absolute;
	top: 2px;
	left: 2px;
	height: 16px;
  width: 16px;
	transform: translateX(0px);
	transition: transform 0.2s linear;
}

.toggle:checked + .toggle-label .toggle-ball {
	transform: translateX(19px);
  background-color: #111
}

.toggle:checked {
  transform: translateX(28px);
}

.toggle:checked + .toggle-label {
	background-color: #fff;

}

.toggle:checked + .toggle-ball {
	
}


.fa-moon {
	color: #f1c40f;
  font-size: 12px;
}

.fa-sun {
	color: #f39c12;
  font-size: 12px;

}



/* * BUTTON */
.btn {
    display: block;
    min-width: 110px;
    height: 36px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* background-color: var(--primary-color); */
    color: var(--primary-color);
    font-size: 1rem;
    font-weight: 400;
    /* border: none; */

    border: 1px solid var(--primary-color);
    box-shadow: inset 0 0 0 0 var(--primary-color);
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}

.btn-secondary {
  border: 1px solid #ffb4b5;
  background: var(--white-color);
  color: var(--black-color);
}




.btn:hover {
    /* transform: scale(1.025); */
    /* box-shadow: inset 0 0 0 2px var(--primary-color); */
    /* background: none; */
    color: var(--white-color);
    cursor: pointer;
    box-shadow: inset 400px 0 0 0 var(--primary-color);
}

.btn-secondary:hover {
  background-color: #ec9a9b;
  box-shadow: none;
  color: white;
}

.primary-text {
  color: var(--primary-color);
}



.loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    
}

.loading span {
    display: inline-block;
    vertical-align: middle;
    width: .8em;
    height: .8em;
    margin: .19em;
    background: #FF5E61;
    border-radius: .8em;
    animation: loading 1s infinite alternate;
  }
  
  /*
   * Dots Colors
   * Smarter targeting vs nth-of-type?
   */

  .loading span:nth-of-type(2) {
    background: #ff9c07;
    animation-delay: 0.2s;
  }
  .loading span:nth-of-type(3) {
    background: #f8a5c2;
    animation-delay: 0.4s;
  }
  .loading span:nth-of-type(4) {
    background: #778beb;
    animation-delay: 0.6s;
  }
  .loading span:nth-of-type(5) {
    background: #06d79c;
    animation-delay: 0.8s;
  }
  .loading span:nth-of-type(6) {
    background: #f5cd79;
    animation-delay: 1.0s;
  }
  
  /* * Animation keyframes */
  @keyframes loading {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }


