
#home {
  background-color: var(--background-color);
  color: var(--text-color-light);
  height: 100vh;
  min-height: 500px;
}


#particles-js{
  position: absolute;
  width: 100%;
  height: 100%;
}


/********* HEADER **********/

#header {
  color: var(--text-color-light);
}

.navbar-mobile,
.navbar-mobile-close {
  display: none;
}

.header__navbar {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding: 32px 0;
}

.header__navbar-list {
  display: flex;
  position: absolute;
}

.header__navbar-item {
  margin-left: 46px;
  padding-bottom: 0.4rem;
}

.header__navbar-item a {  
  font-size: 1rem;
  font-weight: 300;
  color: var(--text-color-light);
}

.header__navbar-item:first-child {
  margin-left: 0px;
}

.header__navbar-item:hover {
  cursor: pointer;
  transform: translateY(-2px);
  border-bottom: 2px solid var(--primary-color);
}

.header__navbar-item:hover a {
  color: var(--primary-color);
}


/********* SLIDER **********/


#slider {
  display: flex;
  align-items: center;
  justify-content: center; 
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
  position: relative;
  font-family: 'Archivo', sans-serif;

  animation: transitionIn 2s;
}

.slider__heading {
  cursor: default;
  margin-bottom: 10vh;
}


.slider__heading-name {
  font-size: 3.5rem;
  font-weight: 600;
  letter-spacing: 0.3rem;
}

.slider__heading-myname {
  position: relative;
  color: var(--background-color);

}


.slider__heading-myname::before {
  content: attr(data-text);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
  overflow: hidden;
  white-space: nowrap;
  color: var(--primary-color);
	/* border-right: 3px solid var(--primary-color); */
	animation: animate 5s linear infinite;
}

@keyframes animate { 
  0%{
		width: 0;
	}
  10%{
		width: 0;
	}
	50%{
		width: 100%;
	}
  90%{
		width: 100%;
	}
	100%{
		width: 0;
	}
}


.slider__heading-work {
  font-size: 2.75rem;
  letter-spacing: 1.75px;
  line-height: 3rem;
  font-weight: 500;
  margin-top: 16px;
}


.slider__social {
  display: flex;
}

.slider__social-link {
  background-color: #333;
  color: var(--text-color-light);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: relative;
  margin: 0 12px;
  
  
}

.slider__social-link:hover {
  background-color: var(--primary-color);
}

.social-link--icon {
  font-size: 1.5rem;
}

.slider__scroll {
  position: absolute;
  bottom: 100px;
}

.slider__scroll-button {
  color: var(--text-color-light);
  display: flex;
  align-items: center;
}

.slider__scroll-button:hover {
  transform: translateY(0.25rem);
}

.slider__scroll-mouse {
  font-size: 1.5rem;
  padding-right: 0.5rem;
  margin-top: -1px;

}

.slider__scroll-text{
  font-size: 1rem;

}


.slider__scroll-arrow {
  font-size: 1.25rem;
  padding-left: 0.125rem;
  margin-top: 0.125rem;
}




/* ======== ABOUT =========*/
#about {
  display: flex;
}

.heading {
  margin: 16px auto 64px;
  padding-top: 56px;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 4px;
  text-align: center;
  position: relative;
  cursor: default;
}

.sub-heading {
  text-align: center;
  margin-bottom: 64px;
  font-size: 1.4rem;
  font-weight: 300;
  color: #808080;
  color: var(--primary-color);
}

.about__information {
  width: 100%;
  display: flex;
}

.about__information-avt img {
  border-radius: 50%;
  padding: 4px;
  width: 100%;

  /* border: solid 1px var(--primary-color); */
}

.about__information-summary {
  margin-left: 32px;
  border: 5px double var(--border-color);
  border-radius: 4px;
  padding: 1rem 1.5rem;
  height: 100%;

}

.about__information-summary p {
  font-size: 1.25rem  ;
  line-height: 1.5rem;
  padding-bottom: 1rem;
  text-align: justify;
  font-weight: 300;
}

.button__downloadcv {
  width: 110px;
}

.about__information-skill {
  margin-left: 20px;

}

.skill-item {
  padding: 8px 0;
}

.skill-title {
  font-size: 	1.25rem;
  line-height: 1.5rem;
  margin-bottom: 0.5rem;
  font-weight: 400;
}

.skill-content {
  font-size: 1.25rem;
  font-weight: 300;
}

.skill-line {
  width: 90%;
  height: 0.1rem;
  background-color: var(--primary-color);
  margin-bottom: 0.5rem;
}

/* ======== EXPERIENCE =========*/
.experience__wrap {
  margin: 80px;
}

.experience__item {
  margin-left: 16px;
}

.experience-line__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}


.experience-line {
  width: 1px;
  height: 80px;
  background-color: var(--border-color);
}

.experience__content {
  display: flex;
  position: relative;
  padding-left: 50%;
}

.experience__item-time {
  margin-top: 6px;
  color: var(--text-color-dark);
  letter-spacing: 1.5px;
}

.experience__item-title {
  margin: 18px 0 12px;
  font-size: 1.5rem;
  line-height: 1.25rem;
  font-weight: 500;
  color: var(--primary-color);
}

.experience__item-content {
  font-size: 1.25rem;
  font-weight: 300;
}

.experience-icon {
  font-size: 1.5rem;
  color: #929292;
}


/* ======== PROJECT =========*/

.project__wrap {
  margin: 0 64px;
}

.project-item {
  display: flex;
  align-items: center;
  padding: 4rem 0;
  border-top: 1px double var(--border-color);
}


.project-img {
  width: 95%;
  cursor: pointer;
}

.project-item__info {
  padding-left: 2rem;
}


.project-img:hover {
  transform: scale(1.02)
}

.project-name {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: var(--primary-color);
  font-weight: 500;
}

.project-description {
  font-size: 1.25rem;
  line-height: 1.5rem;
  margin-bottom: 0.75rem;
  font-weight: 300;

}

.project-tech-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}



.project-tech-list .tag {
  padding: 6px 12px;
  margin-right: 12px;
  border: 1px solid var(--border-color);
}


.project-link-github {
  width: 80px;
}



/* ======== CONTACT =========*/
#contact {
  margin-bottom: 160px;
}

.contact-form__wrap {
  display: flex;
  align-items: center;
  margin: 40px auto;
  justify-content: space-around;
}




.contact-item__wrap {
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 0 80px;
}

.contact-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 32px;
  border-radius: 12px;
  border: 1px solid #eee;
  box-shadow: 0px 4px 8px rgb(134 151 168 / 10%);
  margin: 0 40px;
  background-color: #fffbfd;
}

.contact-item a {
  color: var(--text-color-dark);
}

.contact-item-icon {
  padding: 1.25rem;
  border-radius: 6px;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  padding: 1rem;
  display: inline-block;
}

.contact-item-icon-email {
  background-color: #fff5e1;
  color: #daa126;
}

.contact-item-icon-phone {
  background-color: #dcf5ff;
  color: #0985b6;
}

.contact-item-icon-location {
  background-color: #e6fff1;
  color: #069c45;
}

.contact-item-text {
  font-size: 1.2rem;
  font-weight: 400;
}



.contact__form {
  margin-left: 32px; 
  width: 100%;
  position: relative;
}

.contact__form-input {
  margin-top: 32px;
  width: 100%;
  padding: 18px 20px;
  background-color:  #fffbfd;
  border: 2px solid var(--border-color);
  border-radius: 6px;
  font-size: 1rem;

}

#nameInput {
  width: 95%;
}


#messageInput {
  height: 160px;
}


input:focus,
textarea:focus,
button:focus {
    outline: none;
    border-color: var(--primary-color);
}

.btn-form-send {
  width: 180px;
  height: 48px;
  margin-top: 24px;
  position: absolute;
  right: 0px;
  white-space: nowrap;
}


.contact-form-img {
  opacity: 0.8;
  width: 480px;
}





#footer {
 background-color: #ffe4e4;
}


.footer__inner {
  display: block;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-right: auto;
  margin-left: auto;
  color: var(--primary-color);
}




/* * MOBILE & TABLET: width < 1024px */
@media only screen and (max-width: 63.9375em) {
  html, body, #main { overflow-x: hidden; }
    .slider__heading-name {
      font-size: 32px;
      letter-spacing: 2px;
      display: flex;
      flex-direction: column;
      margin-bottom: 0;
    }

    .slider__heading-myname {
      margin: 4px auto 0;
      /* width: 144px; */
    }

    .slider__heading-work {
      font-size: 16px;
      margin-top: 0px;
    }

    .slider__social {
      margin-bottom: 60px;
    }

    .slider__social-link {
      margin: 0 8px;
      width: 50px;
      height: 50px;
    }

    .slider__scroll-text {
      font-size: 10px;
      letter-spacing: 1px;
    }
    
    .slider__scroll-mouse {
      display: none;
    }

    .slider__scroll-arrow {
      font-size: 14px;
    }

    .about__information-avt {
      display: flex;
      margin: 0px;
    }

    .heading {
      margin-bottom: 24px;
      font-size: 22px;
      padding-top: 24px
    }

    .sub-heading {
      font-size: 18px;
      margin-bottom: 24px;
    }

    .about__wrap {
      margin: 0 32px;
      padding-bottom: 58px;
    }
    .about__information-avt img {
      width: 180px;
      height: 180px;
      margin: 0 auto;
    }

    .about__information {
      flex-wrap: wrap;
    }

    .about__information-summary {
      margin: 16px 0 0 0;
      padding: 12px 16px;
    }

    .about__information-summary p{
      font-size: 16px;
      line-height: 20px;
      padding-bottom: 0px;

    }

    .button__downloadcv {
      margin: 10px auto 0;
    }

    .about__information-skill {
      margin-left: 0px;
      margin-top: 16px;
    }
    .skill-item {
      padding: 4px 0;
      text-align: center;
    }

    .skill-line {
      width: 100%;
    }

    .skill-title {
      font-size: 16px;
    }

    .skill-content {
      font-size: 16px;
    }

    .experience__content {
      padding-left: 10%;
    }

    .experience__item-time {
      font-size: 14px;
    }
    
    .experience__item-title {
      font-size: 16px;
      white-space: nowrap;
      margin-top: 8px;
      margin-bottom: 4px;
    }

    .experience__item-content {
      font-size: 16px;
    }

    .experience__wrap {
      margin: 0 32px;
      padding-bottom: 58px;
    }

    .project__wrap {
      margin: 0 32px;
    }

    .project-img{
      width: 100%;
    }

    .project-name {
      font-size: 18px;
      margin-top: 10px;
      text-align: center;
    }

    .project-description {
      font-size: 16px;
      line-height: 22px;
      text-align: justify;
      padding: 0 8px;

    }

    .project-item__info {
      padding-left: 0px;
    }

    .project-tech-list {
      justify-content: center;
    }

    .project-link {
      display: flex;
      justify-content: center;
    }

    .contact__wrap {
      margin: 0 32px;
    }

    .contact-item__wrap {
      flex-direction: column;
      margin: 0;
    }

    .contact-item {
      margin: 0px 30px 16px;
      /* padding: 16px; */
    }

    .contact-item-text {
      font-size: 16px;
    }

    .contact-form__wrap {
      flex-direction: column;
      
      margin-top: 12px;
    }

    .contact-form-left {
      margin-left: 0px;
    }

    .contact-form-img {
      width: 334px;
      margin-left: 0px;
    }

    .contact__form {
      margin-left: 0;
    }

    #nameInput {
      width: 100%;
    }

    .btn-form-send {
      text-align: center;
      width: 140px;
      height: 40px;
    }

    .footer__inner {
      font-size: 14px;
      padding-top: 12px;
      padding-bottom: 12px;
    }
}


@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

/* * MOBILE: width < 740px */
@media only screen and (max-width: 46.1875em) {
  html, body, #main { overflow-x: hidden; }
  .navbar-mobile {
    z-index: 1;
    display: block;
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 1.4rem;
    color: var(--text-color-light);
  }

  .navbar-mobile-close {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 1.2rem;
    color: var(--text-color-light);
  }

  .header__navbar-list {
    position: absolute;
    display: block;
    z-index: 1;
    right: 0;
    top: 0px;
    width: 50%;
    height: 30vh;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    border-radius: 6px;
  }

  

  .header__navbar-item {
    margin-left: 0;
  }


  .nav-active {
    transform: translateX(0%);
  }
}

